{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container signin-bg">
  <div class="text-center">
    <div>
      <h3>{% trans "Sign Up" %}</h3>

      <p>{% blocktrans %}
        Welcome to the Statement Beauty blog. Where account
        holders can leave comments or make a booking for a makeover!
        Do you already have an account? Then you should
        <a class="link" href="{{ login_url }}">sign in</a>
        instead.
      {% endblocktrans %}</p>
    </div>
  </div>
  <div class="sign-in-form">
    <div>
      <form class="signup" id="signup_form" method="post"
        action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-register right" type="submit">
          {% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}