{% extends "base.html" %} 
{% load static %}

<!-- credit: https://github.com/Dee-McG/Recipe-Tutorial/blob/main/recipes/templates/recipes/recipe_confirm_delete.html -->
<!-- customised by: warning the user this cannot be undone -->
<!-- customised by: using {booking.service_type} and { booking.date_of_booking} instead of {object.title} -->
{% block title %}Delete booking - {{ booking.service_type }} {% endblock %} 

{% block content %}
<div class="container">
    <h1 class="text-center mt-2">Confirm Booking Deletion</h1>
    <div class="d-flex justify-content-center pt-4">
        <form method="post" class="text-center">
            {% csrf_token %} 
            <p class="you-sure">Are you sure you want to delete "{{ booking.service_type }}, {{ booking.date_of_booking}}, {{ booking.start_time}}"?</p>
            <p class="you-sure">This cannot be undone!</p>
            <input type="submit" value="Confirm" class="btn btn-primary w-25 deletion-btn">
        </form>
    </div>
</div>
{% endblock %}