{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit Booking{% endblock %} 

{% block content %}
<!--credit: https://github.com/Dee-McG/Recipe-Tutorial/blob/main/recipes/templates/recipes/edit_recipe.html -->
<div class="container edit-form">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h3 class="text-center">Edit Booking</h3>
        {% csrf_token %}
        {{ form.media }} 
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Update</button>
        </div>
    </form>
</div>
{% endblock %}