{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Displaying Deal of the Season -->
<!-- Credit: This section was inspired by the about code in I think therefore I blog -->
<!-- Credit: https://github.com/Code-Institute-Solutions/blog/blob/main/10_create_about_app/about/templates/about/about.html -->
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <img
        src="{% static 'images/default.jpg' %}"
        class="profile-image"
        alt="image related to current deal being offered on makeovers"
      />
    </div>
    <div class="col-8">
      <!-- Title -->
      <h2 id="makeover-title">{{ makeover.title }}</h2>
      <!-- Content -->
      <div id="makeover-content">{{ makeover.content | safe }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on -->
      <p class="text-end">
        <em
          >Updated on:
          <span id="makeover-updatedon">{{ makeover.updated_on }}</span></em
        >
      </p>
    </div>
  </div>

  <!-- Displaying Bookings -->
  <!-- Credit: This section was inspired by the comments code in I think therefore I blog -->
  <!-- Credit: https://github.com/Code-Institute-Solutions/blog/blob/main/12_views_part_3/05_edit_delete/blog/templates/blog/post_detail.html#L45 -->
  <div class="row" id="booking-list">
    <div class="col-md-8 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>List of Your Bookings:</h3>
        <hr />
        {% for booking in bookings %}
        <div
          class="col-12 col-md-8 booking-item {% if not booking.confirmed %} faded{% endif %}"
          id="booking{{ booking.id }}"
        >
          <h4 class="service-type">{{ booking.service_type}}</h4>
          <h5>Name: {{ booking.username }}</h5>
          <h5>Date: {{ booking.date_of_booking}}</h5>
          <h5 class="start-time">Time: {{ booking.start_time}}</h5>
          <div>Your message:</div>
          <div class="booking-message">{{ booking.message | linebreaks }}</div>
          <hr />
          <div class="text-center">
            <a
              href="{% url 'edit_booking' booking.id %}"
              class="btn btn-primary w-25"
              >Edit</a
            >
            <a
              href="{% url 'delete_booking' booking.id %}"
              class="btn btn-primary w-25"
              >Delete</a
            >
          </div>
        </div>
        {% endfor %} {% elif not user.is_authenticated %}
        <p>Log in to view your booking</p>
        {% endif %}
      </div>
    </div>

    <!-- Creating New Bookings -->
    <!-- Credit: This section was inspired by the comments code in I think therefore I blog -->
    <!-- Credit: https://github.com/Code-Institute-Solutions/blog/blob/main/12_views_part_3/05_edit_delete/blog/templates/blog/post_detail.html#L75 -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Make a booking:</h3>
        <form id="booking-form" method="post" style="margin-top: 1.3em">
          {{ booking_form | crispy }} {% csrf_token %}
          <button
            id="submit-buttonbook"
            type="submit"
            class="btn btn-signup btn-lg"
          >
            Submit
          </button>
        </form>
        {% else %}
        <p>Log in to make a booking</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<!-- Credit: This section of code was taken from the comments code in I think therefore I blog -->
<!-- Credit: https://github.com/Code-Institute-Solutions/blog/blob/main/12_views_part_3/05_edit_delete/blog/templates/blog/post_detail.html#L93 -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete booking?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your booking? This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block extras %} {% endblock %}
