{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- heading section for displaying blog post meta data such as author and creation date -->
<!-- credit for post detail code:
  https://github.com/Code-Institute-Solutions/blog/blob/main/09_views_part2/01_building_a_blogpost_view/blog/templates/blog/post_detail.html -->
<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <!-- post title -->
        <h2 class="post-title">{{ post.title }}</h2>
        <!-- post author is before the | the post's created date is after -->
        <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        {% if "placeholder" in post.featured_image.url %}
        <img
          src="{% static 'images/default.jpg' %}"
          class="scale"
          alt="placeholder image"
        />
        {% else %}
        <img
          src="{{ post.featured_image.url }}"
          class="scale"
          alt="{{ post.title }}"
        />
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- main area for displaying post content -->
<div class="container">
  <div class="row">
    <div class="col card mb-4 mt-3 left top">
      <div class="card-body">
        <!-- the post content is inside the card-text. -->
        <!-- the | safe filter was used inside the template tags -->
        <article class="card-text">{{ post.content | safe }}</article>
      </div>
    </div>
  </div>
  <!-- displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr />
    </div>
  </div>
  <!-- displaying comments -->
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- we want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div
          class="p-2 booking-item comments {% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}"
        >
          <p class="commenter-style">
            {{ comment.author }}
            <span class="commenter-style"> {{ comment.created_on }} </span>
            wrote:
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="approval">This comment is awaiting approval</p>
          {% endif %} {% if user.is_authenticated and comment.author == user %}
          <div>
            <a
              href="{% url 'delete_comment' comment.id %}"
              class="btn btn-delete"
              >Delete</a
            >
          </div>
          <button
            aria-label="click this button to edit your comment if desired"
            class="btn btn-edit"
            data-comment_id="{{ comment.id }}"
          >
            Edit
          </button>
          {% endif %}
        </div>
        <!-- for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- creating new comments -->
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="commentForm" method="post" style="margin-top: 1.3em">
          {{ comment_form | crispy }} {% csrf_token %}
          <button
            aria-label="click this button to submit your comment"
            id="submitButton"
            type="submit"
            class="btn btn-signup btn-lg"
          >
            Submit
          </button>
        </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- delete confirmation modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this comment? It cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}
