{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
          {% if "placeholder" in about.profile_image.url %}
          <img src="{% static 'images/nobody.jpg' %}" class="profile-image"
            alt="placeholder image" >
          {% else %}
          <img src="{{ about.profile_image.url }}" class="profile-image"
            alt="{{ about.title }}">
          {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
          <!-- Updated on field goes in here -->
    
          <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Would you like to collaborate?</h2>
            <p>Welcome to Statement Beauty Blog's collaboration form!
              We're thrilled to invite fellow beauty enthusiasts,
              influencers and brands to join forces with us. 
              Share your expertise, product reviews, or collaborate 
              on exciting projects. Perhaps you are just looking to
              shoot the breeze and brainstorm. Let's connect and create
              beauty magic together! Fill out the form below
              to get started.</p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
            <form method="post">
              {{ collaborate_form | crispy }}
              {% csrf_token %}
              <button class="btn btn-secondary"
                type="submit">Submit</button>
            </form>
          </div>
    </div>
</div>
{% endblock content %}