/*Mobile first styling approach was used*/
/*Importing Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-color: #f9fafc;
}

.brand {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  color: #4a4a4f;
}

.thin-pink {
  font-weight: 300;
  color: #fef2d8;
  background-color: #fe2c89;
  padding: 2px 6px;
  margin-left: 4px;
}

.light-bg {
  background-color: #fff;
}

.dark-bg {
  background-color: #445261;
}

.main-bg {
  background-color: #f9fafc;
}

.card {
  border: none;
  background-color: transparent;
}

.image-container {
  position: relative;
}

.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  background-color: #ffbe98;
}

.scale {
  width: 100%;
  height: auto;
}

.author {
  color: black;
  margin: 4px;
  text-transform: uppercase;
}

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #445261;
  color: white;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

.profile-image {
  width: 75%;
}

.post-link {
  text-decoration: none;
  color: #445261;
}

.post-link:hover,
.page-link {
  color: black;
}

.post-title {
  margin-top: 10%;
  margin-left: 5%;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.btn-signup {
  background-color: #ffbe98;
  color: black;
  font-weight: 500;
}

.btn-edit,
.btn-edit-makeover {
  background-color: #ffbe98;
  color: black;
  font-weight: 500;
  width: 30%;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #fff;
  color: #23bbbb;
}

/* custom button style */
.btn-signin,
.btn-signout,
.btn-register,
.btn-about {
  background-color: #ffbe98;
  color: black;
  margin-bottom: 0.5rem;
}

.btn-signin:hover,
.btn-signin:active,
.btn-about:hover,
.btn-about:active {
  background-color: #fff;
  color: #23bbbb;
}

.signin-bg {
  background-color: #fffaef;
  border-radius: 35px;
  width: 90%;
  padding: 2%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.link {
  color: #146c6c;
  text-decoration: none;
  font-weight: 500;
}

.link:hover,
.link:active {
  color: #445261;
  text-decoration: underline;
}

.btn-delete,
.btn-delete-makeover {
  color: black;
  background: #fe61a6;
  font-weight: 500;
  width: 30%;
}

.btn-delete:hover,
.btn-edit:hover,
.btn-delete-makeover:hover,
.btn-edit-makeover:hover {
  background: #fcd885;
  border: none;
}

.btn-like:hover,
.btn-like:active {
  color: #e84610;
  background: transparent;
  border: none;
}

.faded {
  color: rgb(129,52,223);
}

.approval {
  color: rgb(222, 146, 168);
}

/* style for navbar items */
.nav-item {
  font-size: 114%;
  font-weight: bold;
  padding: 0.1rem 1.2rem 1.1rem 1.2rem;
}

#login-button a {
  color: #fe2c89;
  font-size: 115%;
  font-weight: bold;
  padding: 0.1rem 1.2rem 2rem 1.2rem;
}

#logout-button a {
  color: #fe2c89;
  font-size: 115%;
  font-weight: bold;
  padding: 0.1rem 1.2rem 2rem 1.2rem;
}

#register-button a {
  color: #fe2c89;
  font-size: 115%;
  font-weight: bold;
  padding: 0.1rem 1.2rem 2rem 1.2rem;
}

.navbar-text {
  font-size: 110%;
  padding: 1rem 1rem 3rem 1rem;
}

/* hero image and cover text */
#hero-outer {
  height: 54vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* credit for object-fit: https://www.w3schools.com/csS/css3_object-fit.asp */
.hero-image {
  height: 54vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  /* credit for hero animated zoom effect: love-running-2.0 depreciated project July 2023 */
  /* animating zoom effect on the hero image when loading page */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* creating a zoom for the hero image */
@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/* cover text on home page with main blog content */
.cover-text {
  background-color: rgba(33, 33, 33, 0.9);
  font-family: "Quicksand", sans-serif;
  position: absolute;
  top: 5vh;
  padding: 8px 7px 0px 7px;
  text-align: center;
  border-radius: 3px;
  width: 78%;
}

.cover-text > h1 {
  color: #fef2d8;
  padding-top: 8px;
  font-size: 1.5rem;
}

.cover-text > h2 {
  color: #fef2d8;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 400;
}

.booking-item {
  margin-top: 1rem;
  background-color: #ffeaec;
  border-radius: 8px;
  padding: 0.5rem;
}

.loggedin-container {
  display: flex;
  justify-content: flex-end;
}

.logged-in {
  font-weight: 500;
  background-color: #ffeaec;
  font-size: 115%;
  padding: 4px 8px;
  margin-right: 2%;
  border-radius: 10px;
}

.commenter-style {
  font-weight: bold;
}

.about-heading {
  background-color: #ffbe98;
  color: black;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 12px;
}

.text-date {
  color: black;
}

/* button on the booking confirm delete page */
.deletion-btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 2px;
  margin: 4vh;
}

/* style for 404 page */
.error-image {
  width: 80%;
  padding-bottom: 1%;
}

.error-paragraph {
  padding: 1%;
  font-weight: 500;
}

.error-btn {
  border-radius: 6px;
  padding: 15px 32px;
  font-size: 100%;
  font-weight: bold;
  background-color: #fffae6;
  color: #2a2a2a;
  box-shadow: 0.3rem 0.4rem #2a2a2a;
}

/* custom footer style */
.footer-section {
  background-color: #ffbe98;
}

.social-icon {
  color: black;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #fe2c89;
}

.footer-text {
  color: black;
  font-size: 110%;
  font-weight: 500;
}

.contact-text-email {
  color: black;
  font-size: 102%;
  font-weight: 600;
  padding-bottom: 1rem;
}

.contact-text-email a {
  color: #692d5d;
}

.contact-text {
  color: black;
  font-size: 102%;
  font-weight: 300;
  padding-bottom: 1rem;
}

/* media query: tablets and larger (375px and up) */
@media screen and (min-width: 375px) {
  .brand {
    font-family: Lato, sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
    color: #4a4a4f;
  }
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  .cover-text {
    background-color: rgba(33, 33, 33, 0.9);
    font-family: "Quicksand", sans-serif;
    position: absolute;
    font-size: 130%;
    top: auto;
    bottom: 25vh;
    min-height: 116px;
    padding: 8px 15px 0px 15px;
    text-align: center;
    left: 22%;
    right: 22%;
    border-radius: 30px;
    width: auto;
  }

  .cover-text > h2 {
    color: #fef2d8;
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .sign-in-form {
    display: flex;
    justify-content: center;
  }

  /* style for edit form on edit_makeover.html */
  .edit-form {
    width: 55%;
  }

  .you-sure {
    font-size: 1.5rem;
  }
}

/* large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .nav-item a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
  #login-button a:hover {
    border-bottom: 1px solid #fe2c89;
  }

  #logout-button a:hover {
    border-bottom: 1px solid #fe2c89;
  }

  #register-button a:hover {
    border-bottom: 1px solid #fe2c89;
  }

  .cover-text {
    background-color: rgba(33, 33, 33, 0.9);
    font-family: "Quicksand", sans-serif;
    font-size: 130%;
    position: absolute;
    bottom: 24vh;
    min-height: 120px;
    padding: 8px 15px 0px 15px;
    text-align: center;
    left: 30%;
    right: 30%;
    border-radius: 35px;
  }

  .cover-text > h1 {
    color: #fef2d8;
    padding-top: 10px;
    font-size: 1.5rem;
  }

  .brand {
    font-family: Lato, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #4a4a4f;
    padding-bottom: 0.5rem;
  }

  .nav-item {
    font-size: 120%;
    font-weight: bold;
    padding: 0.1rem 0.8rem 0.2rem 0.8rem;
  }

  #login-button a {
    color: #fe2c89;
    font-size: 120%;
    font-weight: bold;
    padding: 0.1rem 1.1rem 0.2rem 1.1rem;
  }

  #logout-button a {
    color: #fe2c89;
    font-size: 120%;
    font-weight: bold;
    padding: 0.1rem 1.1rem 0.2rem 1.1rem;
  }

  #register-button a {
    color: #fe2c89;
    font-size: 120%;
    font-weight: bold;
    padding: 0.1rem 1.1rem 0.2rem 1.1rem;
  }

  .navbar-text {
    font-size: 112%;
    padding: 2rem 1rem 2rem 1rem;
  }

  .signin-bg {
    background-color: #fef2d8;
    border-radius: 35px;
    width: 45%;
    padding: 2%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .sign-in-form {
    display: flex;
    justify-content: center;
  }

  /* style for edit form on edit_makeover.html */
  .edit-form {
    width: 50%;
  }

  .deletion-btn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2px;
    margin: 4vh;
  }
}

/* very large devices (large laptop screens and monitors, 1440px and up) */
@media screen and (min-width: 1440px) {
  .cover-text {
    background-color: rgba(33, 33, 33, 0.9);
    font-family: "Quicksand", sans-serif;
    font-size: 130%;
    position: absolute;
    bottom: 24vh;
    min-height: 120px;
    padding: 8px 15px 0px 15px;
    text-align: center;
    left: 35%;
    right: 35%;
    border-radius: 35px;
  }

  .cover-text > h1 {
    color: #fef2d8;
    padding-top: 12px;
    font-size: 1.5rem;
  }

  .brand {
    font-family: Lato, sans-serif;
    font-size: 2.6rem;
    font-weight: 900;
    color: #4a4a4f;
    padding: 0rem 0rem 0.5rem 0.5rem;
  }

  .nav-item {
    font-size: 132%;
    font-weight: bold;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  }

  #login-button a {
    color: #fe2c89;
    font-size: 132%;
    font-weight: bold;
    padding: 0.2rem 1.1rem 0.2rem 1.1rem;
  }

  #logout-button a {
    color: #fe2c89;
    font-size: 132%;
    font-weight: bold;
    padding: 0.2rem 1.1rem 0.2rem 1.1rem;
  }

  #register-button a {
    color: #fe2c89;
    font-size: 132%;
    font-weight: bold;
    padding: 0.2rem 1.1rem 0.2rem 1.1rem;
  }

  .navbar-text {
    font-size: 130%;
    padding: 2rem 1rem 2.2rem 1rem;
  }

  /* style for edit form on edit_makeover.html */
  .edit-form {
    width: 45%;
  }
}
