/*Importing Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-color: #f9fafc;
}

.brand {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #4a4a4f;
}

.thin {
  font-weight: 300;
}

.light-bg {
  background-color: #fff;
}

.dark-bg {
  background-color: #445261;
}

.main-bg {
  background-color: #f9fafc;
}

.card {
  border: none;
  background-color: transparent;
}

.image-container {
  position: relative;
}

.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  background-color: #ffbe98;
}

.scale {
  width: 100%;
  height: auto;
}

.author {
  color: black;
  margin: 4px;
  text-transform: uppercase;
}

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #445261;
  color: white;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

.profile-image {
  width: 75%;
}

.post-link {
  text-decoration: none;
  color: #445261;
}

.post-link:hover,
.page-link {
  color: #e84610;
}

.post-title {
  margin-top: 10%;
  margin-left: 5%;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.btn-signup,
.btn-edit {
  background-color: #ffbe98;
  color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #fff;
  color: #23bbbb;
}

.link {
  color: #23bbbb;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: #445261;
  text-decoration: underline;
}

.btn-like {
  color: #e84610;
  border: none;
  background: transparent;
}

.btn-delete {
  color: #fff;
  background: #e84610;
}

.btn-like:hover,
.btn-like:active {
  color: #e84610;
  background: transparent;
  border: none;
}

.faded {
  color: rgb(172, 175, 175);
}

.approval {
  color: rgb(222, 146, 168);
}

/* hero image and cover text*/

#hero-outer {
  height: 54vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/*credit for object-fit: https://www.w3schools.com/csS/css3_object-fit.asp*/
.hero-image {
  height: 54vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  /* credit for hero animated zoom effect: love-running-2.0 depreciated project July 2023 */
  /* animating zoom effect on the hero image when loading page */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* creating a zoom for the hero image */
@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

/* cover text on home page with main blog content*/
#cover-text {
  background-color: rgba(33, 33, 33, 0.9);
  font-family: "Quicksand", sans-serif;
  font-size: 130%;
  position: absolute;
  bottom: 175px;
  min-height: 160px;
  padding: 8px 15px 0px 15px;
  text-align: center;
  left: 22%;
  right: 22%;
  border-radius: 35px;
}

#cover-text > h2 {
  color: #FEF2D8;
  padding-top: 8px;
}

#cover-text > h3 {
  color: #FEF2D8;
  padding-top: 10px;
}

/* style for 404 page */

.error-image {
  width: 80%;
  padding-bottom: 1%;
}

.error-paragraph {
  padding: 1%;
  font-weight: bold;
}

.error-btn{
    border-radius: 6px;
    padding: 15px 32px;
    font-size: 100%;
    font-weight: bold;
    background-color: #fffae6;
    color: #2a2a2a;
    box-shadow: 0.3rem 0.4rem #2a2a2a;
}
